@model Assignment_Di.Models.Actors

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/s1.css" rel="stylesheet" type="text/css" />
<link href="~/Content/createTable1.css" rel="stylesheet" type="text/css" />

<h2 style="font-weight:800">Delete Actor</h2> <br />

<div class="Message1">
    Are you sure you want to delete this Actor?
</div>
<p />
<h2><@Html.DisplayFor(model => model.ActorName)></h2> <br />
<table class="delete">
    <tr>
        <th width="150">Name</th>
        <td width="30"></td>
        <td width="400">
            @Html.DisplayFor(model => model.ActorName)
        </td>
    </tr>
    <tr class="height"></tr>
    <tr>
        <th width="20%">DOB</th>
        <td></td>
        <td class="view">
            @Html.DisplayFor(model => model.ActorDOB)
        </td>
    </tr>
    <tr class="height"></tr>
    <tr>
        <th width="20%">GENDER</th>
        <td></td>
        <td class="view">@Html.DisplayFor(model => model.ActorGender)</td>
    </tr>
    <tr class="height"></tr>
    <tr>
        <th width="20%">Nationality</th>
        <td></td>
        <td class="view">@Html.DisplayFor(model => model.ActorNationality)</td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <br /><br />
        <input class="OneButton" type="submit" value="Delete" />
        <button class="OneButton" onclick="location.href='@Url.Action("Index", "Actors")';
            return false;">
            Back to List
        </button>
    </p>
}


