@model IEnumerable<Assignment_Di.Models.Actors>
@Scripts.Render("~/scripts/jsTable1.js")

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/table.css" rel="stylesheet" type="text/css" />
<link href="~/Content/s1.css" rel="stylesheet" type="text/css" />

<h2 style="font-weight:800">Actors</h2>
<br />
<p align="right">
    <button class="OneButton1" onclick="location.href='@Url.Action("Search", "Actors")'; return false;">
        Search
    </button>
</p>
<br />
<table id="data" class="table">
    <thead>
        <tr style="background-color:darkslategray">
            <th style="color:white" width="200">
                @Html.DisplayName("NAME")
            </th>
            <th style="color:white" width="170">
                @Html.DisplayName("DOB")
            </th>
            <th style="color:white" width="90">
                @Html.DisplayName("GENDER")
            </th>
            <th style="color:white" width="100">
                @Html.DisplayName("NATIONALITY")
            </th>
            <th style="color:white" width="90">
                @Html.DisplayName("HEIGHT")
            </th>
            <th style="color:white" width="90">
                @Html.DisplayName("WEIGHT")
            </th>
            <th style="color:white" width="130">
                @Html.DisplayName("BLOOD TYPE")
            </th>
            <th style="color:white" width="100">
                @Html.DisplayName("STAR SIGN")
            </th>
            <th style="color:white" width="130">
                @Html.DisplayName("DEBUT YEAR")
            </th>
            <th style="color:white" width="90">
                @Html.DisplayName("View")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="font-weight:600">
                    @Html.DisplayFor(modelItem => item.ActorName)
                </td>
                <td>
                    @item.ActorDOB.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorNationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorBloodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorStarSign)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActorDebutYear)
                </td>
                <td style="background-color:lightyellow">
                    @Html.ActionLink("Details", "DetailsByUsers", new { id = item.ActorID })
                </td>
            </tr>
        }
    </tbody>
</table>



